<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--Following settings will be automatically copy to App.config during instancing of Hipchat -->
  <appSettings>
    <!--All of this info can be found on the XMPP/Jabber info section @ https://YOUR-SUBDOMAIN.hipchat.com/account/xmpp-->
    <add key="HipChatServer" value="chat.hipchat.com" />
    <add key="HipChatConferenceServer" value="conf.hipchat.com" />
    <!--Username i.e. 1234_56789-->
    <add key="HipChatUser" value="" />
    <!--Password, this is not displayed on page-->
    <add key="HipChatPassword" value="" />
    <!--Necessary to avoid bot reciving room history-->
    <add key="HipChatResource" value="bot" />
    <!--Room nickname-->
    <add key="HipChatRoomNick" value="nubot robot" />
    <!--Comma separated list of rooms for your bot to join i.e. 1234_builds, 1234_development-->
    <add key="HipChatRooms" value="" />
  </appSettings>

</configuration>