@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<Nubot.Interfaces.IRobotPlugin>>

<ul>
    @foreach (var plugin in Model)
    {
        <li>@plugin.Name</li>
        
        foreach (var message in plugin.HelpMessages)
        {
            <li>@message</li>
        }
    }
</ul>
