<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings file="">
    <clear />
    <add key="RobotName" value="nubot" />
    <add key="RobotUrl" value="http://+:8080" />
    <add key="HipChatServer" value="chat.hipchat.com" />
    <add key="HipChatConferenceServer" value="conf.hipchat.com" />
    <add key="HipChatUser" value="27888_175754" />
    <add key="HipChatPassword" value="Innoveo4you" />
    <add key="HipChatResource" value="bot" />
    <add key="HipChatRoomNick" value="nubot robot" />
    <add key="HipChatRooms" value="27888_skye_editor_dev,27888_hubottests,27888_skye_editor" />
    <add key="AtlassianStashUrl" value="https://git.innoveo.com" />
    <add key="AtlassianStashNotifyRoomName" value="skye Editor Dev" />
    <add key="AtlassianStashHipchatAuthToken" value="ab8Dn9qLJILnlMuVdJnq5Tw9427hF07m8VoYHWIX" />
    <add key="TeamCityNotifyRoomName" value="skye Editor Dev" />
    <add key="TeamCityHipchatAuthToken" value="zj8M8JVZBB2QtkfIqoN8bqYDVvFCC7KN69L1NWh7" />
    <add key="AtlassianJiraUrl" value="https://jira.innoveo.com" />
    <add key="AtlassianJiraNotifyRoomName" value="skye Editor" />
    <add key="AtlassianJiraHipchatAuthToken" value="DiThRi0bPK9FkfVBdJwfLjk2WDV9UMIWXfjhCQv6" />
    <add key="TeamCityBuildTriggerUsername" value="stash" />
    <add key="TeamCityBuildTriggerPassword" value="stash" />
    <add key="TeamCityServerUrl" value="http://ci.innoveo.com/" />
    <add key="NubotHipchatAuthToken" value="yzedYG16NevlVXVCuZJxFUzRr67EhrE4cFKZA0gc" />
    <add key="AppharborListenerRoomName" value="appharbor_test_string_roomname" />

    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>