<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--Following settings will be automatically copy to App.config during instancing of TeamCityBuildTrigger -->
  <appSettings>
    <add key="TeamCityBuildTriggerUsername" value="teamcity_username_to_start_build" />
    <add key="TeamCityBuildTriggerPassword" value="teamcity_password_to_start_build" />
    <add key="TeamCityServerUrl" value="http://teamcity_server_url" />
  </appSettings>

</configuration>