<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!--Following settings will be automatically copy to App.config during instancing of TeamCityAggregator -->
  <appSettings>
    <add key="TeamCityNotifyRoomName" value="teamcity_test_string_url" />
    <add key="TeamCityHipchatAuthToken" value="teamcity_test_string_roomname" />
    <add key="TeamCityBuildsMaxDuration" value="teamcity_test_string_roomname" />
    <add key="TeamCityExpectedBuildCount" value="1" />
  </appSettings>

</configuration>