<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--Following settings will be automatically copy to App.config during instancing of TeamCityBuildTrigger -->
  <appSettings>
    <add key="AppharborListenerRoomName" value="appharbor_test_string_roomname" />
  </appSettings>

</configuration>